.table {
  width: 75%;
  margin: 50px auto;
}

.row {
  display: table;
  width: 500px;
  height: 50px;
  table-layout: fixed;
}

.row ~ .row {
    transform: translateX(-973px);
}

.cell {
  display: table-cell;
  padding: 4px 6px;
  width: 125px;
  height: 50px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: black;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: black;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: black;
  margin-bottom: 0;
  text-align: center;
}

.data {
  transform: translate(-973px, 20px);
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: black;
}

.data ~ .data {
  border-top-style: none;
}

.header {
  transform: translate(-15px);
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: black;
}

.header :last-of-type .table-header {
  padding-top: 5px;
}

.table-data {
  font: 12px Roboto;
  color: white;
  vertical-align: middle;
}

.table-header {
  padding-top: 15px;
  font: bold 14px Roboto;
  color: white;
  height: 15px;
}

.cell-link, .cell-link:link, .cell-link:visited {
  background-color: black;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}

.cell-link:hover, .cell-link:active {
  background-color: red;
}
