<!DOCTYPE html>
<html>
    <head>
        <title>Comp Finder | Find Comps Near You</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
    </head>
    <body>
        <div class="header">
            <a href="https://www.worldcubeassociation.org/">
                <img src="{{ wca_image }}" alt="WCA" style="width:50px;height:50px;" />
            </a>
            <a href="/home">
                <p>Comp Finder</p>
            </a>
            <a href="/home" class="button">Home</a>
            <a href="find_comps" class="button">Try It</a>
            <a href="https://github.com/lol-cubes/comp_finder" class="button">Github</a>
        </div>
        <h1>Find WCA Competitions Near You</h1>
        <div>
           <form method="POST" action="">
               {{ form.hidden_tag() }}
               <fieldset class="form-group">
                    <div class="form-group">
                        <p>States (capitalized and separated by newlines)</p>
                        <br class="line-break">
                        {{ form.states(class="form-control form-control-lg") }}
                        <br class="line-break">
                    </div>
                    <div class="form-group">
                        {{ form.address.label(class="form-control-label") }}
                        {{ form.address(class="form-control form-control-lg") }}
                        <br>
                    </div>
                    <div class="form-group button">
                        {{ form.submit(class="btn btn-outline-info") }}
                    </div>
                </fieldset>
           </form> 
        </div>
    </body>
</html>