<!DOCTYPE html>
<html>
    <head>
        <title>Comp Finder | Home</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}">
        <link rel="shortcut icon" href="#" />

        <style>

            .image {
                background: url("{{ wca_image }}");
                background-size: 283px 67px;
                width: 283px;
                height: 67px;
                margin-left: -25px;
            }

            .image:hover > .overlay {
                width:290px;
                height:100%;
                position:absolute;
                background-color:#000;
                opacity:0.5;
                transition: .3s;
            }

        </style>
    </head>
    <body>
        <div class="page-header">
            <ul>
                <li>
                    <a href="https://www.worldcubeassociation.org/" class="inline-block logo" target="_blank">
                        <div class="inline-block image">
                            <div class="overlay"></div>
                        </div>
                    </a>
                </li>
                <div>
                    <li class="navbar-link">
                        <a href="/home" class="inline-block button">Home </a>
                    </li>
                    <span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <li class="navbar-link">
                        <a href="/find_comps" class="inline-block button">Try It</a>
                    </li class="navbar-link">
                    <span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <li class="navbar-link">
                        <a href="https://github.com/lol-cubes/comp_finder" target="_blank" class="inline-block button">Github</a>
                    </li>
                </div>
            </ul>
        </div>
        <div>
            <h1>Home</h1>
            <div>
                <h3>Web App</h3>
                <p>The Comp Finder web-app allows you to find all the WCA cubing competitions in states nearby to you.</p>
                <a href="https://github.com/lol-cubes/comp-finder-web-app" target="_blank" class="small">Check it out here</a>
            </div>
            <div>
                <h3>Command Line Tool</h3>
                <p>Comp Finder is also available as a command-line tool that runs a 
                   daemon process that updates a file containing information about 
                   the competitions every 30 minutes.</p>
                   <a href="https://github.com/lol-cubes/comp_finder" target="_blank" class="small">Check it out here</a>
            </div>
        </div>
    </body>
</html>