{% extends "bootstrap/base.html" %}
{% block head %}
{{super()}}
<link rel="shortcut icon" href="/static/images/favicon.ico"/>
{% endblock %}
{% block title %}
Comp Finder | Home
{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
</nav>
<div class="info">
    <div class="title">
        <h1>Home</h1>
    </div>
    <div class="text-info">
        <h3>Web App</h3>
        <hr class="subtitle-line">
        <p>The Comp Finder web-app allows you to find all the WCA cubing competitions in states nearby to you. 
            Use it to find competitions near you right now by clicking the "Try It" tab.</p>
        <a href="https://github.com/lol-cubes/comp-finder-web-app" target="_blank" class="small">Github Page</a>
    </div>
    <br>
    <br>
    <div class="text-info">
        <h3>Command Line Tool</h3>
        <hr class="subtitle-line">
        <p>Comp Finder is also available as a command-line tool. 
            This runs a daemon process, which means that it is always running in the background along with all your other computer tasks.
            It updates a file containing information about the competitions every 30 minutes.
            </p>
            <a href="https://github.com/lol-cubes/comp_finder" target="_blank" class="small">Github Page</a>
    </div>
</div>
{% endblock %}