<!DOCTYPE html>
<html>
    <head>
        <title>Comp Finder | Competitions Near You</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}">
        <link rel="stylesheet" type="text/css" href="/static/stylesheets/style_output.css">
        <link rel="icon" href="/static/images/favicon.ico" />

        <style>

            .image {
                background: url("{{ wca_image }}");
                background-size: 283px 67px;
                width: 283px;
                height: 67px;
                margin-left: -25px;
            }

            .image:hover > .overlay {
                width:290px;
                height:100%;
                position:absolute;
                background-color:#000;
                opacity:0.5;
                transition: .3s;
            }

        </style>
    </head>
    <body>
            <div class="page-header">
                    <ul>
                        <li>
                            <a href="https://www.worldcubeassociation.org/" class="inline-block logo" target="_blank">
                                <div class="inline-block image">
                                    <div class="overlay"></div>
                                </div>
                            </a>
                        </li>
                        <div>
                            <li class="navbar-link">
                                <a href="/home" class="inline-block button">Home</a>
                            </li>
                            <span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <li class="navbar-link">
                                <a href="/find_comps" class="inline-block button">Try It</a>
                            </li class="navbar-link">
                            <span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                            <li class="navbar-link">
                                <a href="https://github.com/lol-cubes/comp_finder" target="_blank" class="inline-block button">Github</a>
                            </li>
                        </div>
                    </ul>
                </div>
        <div>
            <div class="title">
                <h1>Competitions Near You</h1>
            </div>
            <div class="table">
                <!--table header row-->
                <div id="comp-finder-results" class="header row">
                    {% for category in output[0] %}
                        <div class="cell table-header">
                            {% if category == 'Reached Competitor Limit' %}
                                <p class="header-cell last">{{ category }}</p>
                            {% else %}
                                <p class="header-cell">{{ category }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                
                <!--table data rows-->
                {% for comp in output[1] %}
                    <br>
                    <div class="data row">
                        {% for datapoint in comp %}
                            <div class="cell table-data">{{ datapoint }}</div>
                        {% endfor %}
                    </div>
                {% endfor %}
               
                <script type='text/javascript'>
                    function copyText(text) {
                            /**
                             * Copies text to clipboard
                             * ..
                             * Creates invisble textarea element and fills with text.
                             * Then copies text to clipboard and removes element
                            */
                            
                            // create textarea element
                            var textArea = document.createElement("textarea");
    
                            // style element to make sure it doesn't appear
                            textArea.style.position = 'fixed';
                            textArea.style.top = 0;
                            textArea.style.left = 0;
                            textArea.style.width = '2em';
                            textArea.style.height = '2em';
                            textArea.style.padding = 0;
                            textArea.style.border = 'none';
                            textArea.style.outline = 'none';
                            textArea.style.boxShadow = 'none';
                            textArea.style.background = 'transparent';
    
                            textArea.value = text;
    
                            document.body.appendChild(textArea);
                            textArea.focus();
                            textArea.select();
    
                            try {
                                var successful = document.execCommand('copy');
                                var msg = successful ? 'successful' : 'unsuccessful';
                                console.log('Copying text command was ' + msg);
                            } catch (err) {
                                console.log('Oops, unable to copy');
                            }
    
                            document.body.removeChild(textArea);
                            
                        }
    
                        var table = document.getElementById("comp-finder-results");
                        
                        // loop over cells
                        for (var i = 1, cell; cell = table.getElementsByClassName('cell table-data')[i]; i++) {
                            
                            var cellContent = cell.innerText
                            
                            // check if cell contains link
                            if (cellContent.includes('https://')) {
                                // change to link and copy url elements
                                cell.innerHTML = `<a href="${cellContent}" class="cell-link">Link</a>\n\
                                <a onclick=copyText("${cellContent}") class="cell-link">Copy URL</a>`;
                            }
                        }
                    </script>
    
            </div>
        </div>
    </body>
</html>